.BC.*
tmp*
*~
OLD*
*.pyc
.DS_Store
.env
.venv
.aider.*
build
.git
.gitignore
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.aider*
