
# ui components
prompt-toolkit==3.0.48
rich==13.9.3
pygments==2.18.0

# potentially replacable
jsonschema==4.23.0
configargparse==1.7
pyyaml==6.0.2
python-dotenv==1.0.1
pathspec==0.12.1
pexpect==4.9.0

# core compenents
networkx==3.2.1
gitpython==3.1.43
tree-sitter-languages==1.10.2
tree-sitter==0.21.3
grep-ast==0.3.3
requests==2.32.3
numpy==2.0.2
scipy==1.13.1
flake8==7.1.1
pytest==8.3.3
